.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist

# database
*.db
*.db-journal
*.sqlite
*.sqlite3

# prisma local db
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
